<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/paybill.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header>
        <h1>Welcome to Hulu Banking</h1>
        <nav>
            <div class="nav-logo">
                <a href="/" style="text-decoration: none;color: white;">
                    <span>Your Trusted
                        Banking Partner</span></a>
            </div>
            <div class="nav-items">
                <ul>
                    <% if (isAuthenticated) { %>
                        <% if (route=='/' ) { %>
                            <li><a href="/userDashboard">Dashboard</a></li>
                            <li><a href="/clients/logout">Logout</a></li>
                            <% } else { %>
                                <li><a href="/">Home</a></li>
                                <li><a href="/clients/logout">Logout</a></li>
                                <% } %>
                                    <% } else { %>
                                        <% if (route=='/' ) { %>
                                            <li><a href="/" class="active">Home</a></li>
                                            <li><a href="/clients">Create Account</a></li>
                                            <li><a href="clients/login">Login</a></li>
                                            <% } else if (route=='/clients' ) { %>
                                                <li><a href="/">Home</a></li>
                                                <li><a href="clients/login">Login</a></li>
                                                <% } else if (route=='/clients/login' ) { %>
                                                    <li><a href="/">Home</a></li>
                                                    <li><a href="/clients">Create Account</a></li>
                                                    <% } else { %>
                                                        <li><a href="/">Home</a></li>
                                                        <% } %>
                                                            <% } %>
                </ul>
            </div>
        </nav>
    </header>