<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">

    <title>Create Account - Online Banking</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>Create Your Account</h1>
        <nav>
            <div class="nav-logo">
                <span>Your Trusted Banking Partner</span>
            </div>
            <div class="nav-items">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="create-account">
            <form method="post">
                <label for="firstname">FirstName:</label>
                <input type="text" id="firstname" name="firstname" required>

                <label for="lastname">LastName:</label>
                <input type="text" id="lastname" name="lastname" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <button type="submit" id="create_account" class="btn form-btn">Create Account</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Hulu Banking. All rights reserved.</p>
    </footer>

    <script src="../js/script.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const creatAccEl = document.getElementById('create_account')
        creatAccEl.addEventListener('click', async (e) => {
            e.preventDefault();

            const firstname = document.getElementById('firstname').value;
            const lastname = document.getElementById('lastname').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const validationError = validateRegistrationInput(firstname, lastname, email, password, confirmPassword);

            if (validationError) {
                alert(validationError);
                return;
            }
            try {
                const response = await fetch('/register-account', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        firstname,
                        lastname,
                        email,
                        password,
                    }),
                });

                const data = await response.json();
                if (response.status === 201) {
                    alert(`Account created Welcome to Hulu Banking ${data.firstName} ${data.lastName}`);
                    window.location.href = 'login';
                }
                if (response.status === 409) alert(`An account already exists with the email address ${email}. Please use a different email address.`);
                if (response.status === 501) alert('An error occurred while creating your account. Please try again later.');

            } catch (error) {
                console.error('Error creating account:', error);
            }
        });
        });
    </script>
</body>

</html>