<main>
    <section class="hero">
        <video autoplay muted loop id="hero-video">
            <source src="media/videos/hero-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero-content">
            <h2>Hulu Bank</h2>
            <p>Empowering Your Financial Journey</p>
            <a href="#learn-more" class="btn">Learn More</a>
        </div>
    </section>
    <section class="features">
        <div class="feature">
            <!-- <img src="https://source.unsplash.com/400x250/?finance" -->
            <img src="/media/images/image1.jpg" alt="Features image">
            <h3>Manage Your Account</h3>
            <p>Effortlessly manage your account and stay on top of your
                finances.</p>
        </div>
        <div class="feature">
            <!-- <img src="https://source.unsplash.com/400x250/?money"
                alt="Feature 2"> -->
            <img src="/media/images/image2.jpg" alt="Features image">
            <h3>Transfer Money</h3>
            <p>Securely transfer money to other accounts with just a few clicks.
            </p>
        </div>
        <div class="feature">
            <!-- <img src="https://source.unsplash.com/400x250/?bills"
                alt="Feature 3"> -->
            <img src="/media/images/image3.jpg" alt="Features image">
            <h3>Pay Bills</h3>
            <p>Conveniently pay your bills online, saving you time and hassle.
            </p>
        </div>
    </section>
    <section class="cta">
        <h2>Ready to get started?</h2>
        <a href="accounts" class="btn">Create Account</a>
    </section>
</main>