<main>
    <div class="form-container">
        <section class="login">
            <div class="login-title">
                <h3>Hulu Banking Login</h3>
            </div>
            <form action="#" method="POST" class="form">
                <label class="label" for="email">Email:</label>
                <input class="input" type="email" id="email" name="email" required>
                <label class="label" for="password">Password:</label>
                <input class="input" type="password" id="password" name="password" required>
                <button type="submit" id="user_login" class="form-btn">Login</button>
            </form>
        </section>
    </div>
</main>
<script src="/js/login.js"></script>