.main {
    display: flex;
}

.dash-sidebar {
    width: 250px;
    /* background-color: #333; */
    color: #fff;
    border-radius: 3px;
}

.user-info {
    padding: 20px;
    text-align: center;
    background-color: #007bff;
    border-bottom: 2px solid #0056b3;
}

.user-info img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.4s ease-in-out;
}

.user-info img:hover {
    box-shadow: none;
}

.user-info h3,
.user-info p {
    margin: 0;
}

.dashboard-links {
    padding: 0;
    margin: 0;
    /* margin-top: 1em; */
}

.dashboard-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard-links ul li {
    width: 100%;
    /* margin-bottom: 5px; */
}

.links {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #007bff;
    padding: 10px 20px;
    border-bottom: 1.5px solid #0056b3;
    transition: all 0.3s ease;
}

.links:hover {
    background-color: #0056b3;
}

.main-dashboard {
    flex: 1;
    padding: 20px;
}

.user-hero h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.user-hero p {
    color: #777;
}

.account-status {
    /* width: 100%; */
    background-color: #d8d4d4;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.account-info {
    margin-bottom: 5px;
    width: 50%;
}

.account-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.account-info h3 span::after {
    content: 'KSH';
    color: #007bff;
}

.account-info p {
    font-size: 18px;
    color: #777;
}

.account-actions {
    width: 50%;
    display: flex;
    align-items: center;
}

.account-actions a {
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.account-actions a:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Edit Profile */
.profile-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #d8d4d4;
    padding: 20px;
}

.profile-header h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.profile-details {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-form {
    border: 1px solid #ddd;
    padding: 5%;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: row;
    column-gap: 40px;

}

.input-group {
    flex: 1;
}

.input-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;

}

.input-group input {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
}

.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
}

.input-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}