<div class="modal" id="depositModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deposit</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="tab-bar">
                    <div class="tab-bar-item" id="banks">
                        <div class="tab-bar-item-content">
                            <!-- <img src="/images/bank.png" alt="Bank"
                                class="tab-bar-item-icon"> -->
                            <span>Bank</span>
                        </div>
                    </div>
                    <div class="tab-bar-item" id="mobile">
                        <div class="tab-bar-item-content">
                            <!-- <img src="/images/mobile.png" alt="Mobile"
                                class="tab-bar-item-icon"> -->
                            <span>Mobile Money</span>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="banks-tab">
                        <div class="tab-info-icon" id="banks-tabinfo">
                            <button>
                                <!-- <img src="/images/visa.png" alt="Visa"
                                    class="tab-info-icon"> -->
                                <span>Info</span>
                            </button>
                        </div>
                        <div class="tab-info-content" id="banks-tabinfo-content">
                            <p>Deposit to your account using your bank
                                account.</p>
                            <ol>
                                <li>
                                    This service allows you to deposit money
                                    into your account using your bank accounts
                                    from our Hulu accounts you may be owning or
                                    from other banks.
                                </li>
                                <li>
                                    You can deposit money into your account from
                                    any bank account you own.
                                    <ul>
                                        <li>Incase you want to transfer from an
                                            account within Hulu please select
                                            Hulu Bank for "Deposit From:"
                                            options
                                        </li>
                                        <li>Incase you want to transfer from an
                                            account from another bank please
                                            select the bank from the "Deposit
                                            From:" options</li>
                                        <li>
                                            Enter the account number you want to
                                            transfer from
                                        </li>
                                        <li>
                                            Select the account number you want
                                            to deposit to
                                        </li>
                                        <li>
                                            Enter the amount you want to deposit
                                        </li>
                                        <li>
                                            Enter your password to confirm the
                                            transaction
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    When you are done, click on the "Deposit
                                    Now" button to complete the transaction.
                                </li>
                                <li>
                                    You will receive a notification on your
                                    phone to confirm the transaction.
                                </li>
                                <li>
                                    You can click on the info icon to close this
                                    information.
                                </li>
                            </ol>
                        </div>
                        <div class="tab-content-main">
                            <div class="tab-title">
                                <h4>Bank Deposit</h4>
                            </div>
                            <div class="tab-body">
                                <form action="#" method="POST" id="bank-modal-form">
                                    <div class="form-group">
                                        <label for="depositFrom">Deposit
                                            From:</label>
                                        <select name="depositFrom" id="depositFrom" class="form-control">
                                            <option value="Hulu Bank">Hulu
                                                Bank</option>
                                            <option value="GTBank">GTBank
                                            </option>
                                            <option value="Zenith Bank">Zenith
                                                Bank</option>
                                            <option value="First Bank">First
                                                Bank</option>
                                            <option value="Access Bank">Access
                                                Bank</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="transferFrom">Account
                                            No:</label>
                                        <input type="text" class="form-control" id="transferFrom" name="transferFrom"
                                            placeholder="Enter account number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="depositTo">Select Account
                                            No:</label>
                                        <select name="depositTo" id="depositTo" class="form-control">
                                            <option value="<%= user.realAccountNo %>">
                                                <%= user.realAccountNo %>
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" min="100" value="100" class="form-control" id="amount"
                                            name="amount" placeholder="Enter amount" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Enter
                                            Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter password" required>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-footer">
                                <button type="submit" class="tab-submitbtn" id="btn-bankdepo">Deposit Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="mobile-tab">
                        <div class="tab-info-icon" id="mobile-tabinfo">
                            <button>
                                <!-- <img src="/images/visa.png" alt="Visa"
                                    class="tab-info-icon"> -->
                                <span>Info</span>
                            </button>
                        </div>
                        <div class="tab-info-content" id="mobile-tabinfo-content">
                            <p>Deposit to your account using your mobile account
                            </p>
                            <ol>
                                <li>
                                    This service allows you to deposit money
                                    into your account using your mobile money
                                    accounts to Hulu accounts you may be
                                    owning.
                                </li>
                                <li>
                                    You can deposit money into your account from
                                    any mobile money account you own.
                                    <ul>
                                        <li>
                                            Select the service provider you want
                                            to transfer from
                                        </li>
                                        <li>
                                            Enter the account number you want to
                                            transfer from
                                        </li>
                                        <li>
                                            Select the account number you want
                                            to
                                            transfer from
                                        </li>
                                        <li>
                                            Select the account number you want
                                            to deposit to
                                        </li>
                                        <li>
                                            Enter the amount you want to deposit
                                        </li>
                                        <li>
                                            Enter your password to confirm the
                                            transaction
                                        </li>
                                    </ul>
                                <li>
                                    When you are done, click on the "Deposit
                                    Now" button to complete the transaction.
                                </li>
                                <li>
                                    You will receive a notification on your
                                    phone to confirm the transaction.
                                </li>
                                <li>
                                    You can click on the info icon to close this
                                    information.
                                </li>
                            </ol>
                        </div>
                        <div class="tab-content-main">
                            <div class="tab-title">
                                <h4>Mobile Deposit</h4>
                            </div>
                            <div class="tab-body">
                                <form action="#" method="POST" id="mobile-modal-form">
                                    <div class="form-group">
                                        <label for="depositFrom">Service
                                            Provider:</label>
                                        <select name="depositFrom" id="depositFrom" class="form-control">
                                            <option value="Safaricom">Safaricom
                                            </option>
                                            <option value="Airtel">Airtel
                                            </option>
                                            <option value="Vodafone">Vodafone
                                            </option>
                                            <option value="Telkom">Telkom
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="transferFrom">Mobile
                                            No:</label>
                                        <input type="text" class="form-control" id="transferFrom" name="transferFrom"
                                            placeholder="Enter account number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="depositTo">Select Account
                                            No:</label>
                                        <select name="depositTo" id="depositTo" class="form-control">
                                            <option value="<%= user.realAccountNo %>">
                                                <%= user.realAccountNo %>
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" min="100" value="100" class="form-control" id="amount"
                                            name="amount" placeholder="Enter amount" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Enter
                                            Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter password" required>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-footer">
                                <button type="submit" class="tab-submitbtn" id="btn-mobiledepo">Deposit Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    async function validateDepositForm(formData) {
        const depositFrom = formData.get('depositFrom');
        const transferFrom = formData.get('transferFrom');
        const depositTo = formData.get('depositTo');
        const amount = parseFloat(formData.get('amount'));
        const password = formData.get('password');

        if (!depositFrom.trim()) {
            alert('Please select a bank to deposit from');
            return false;
        }

        if (transferFrom.length < 10 || depositTo.length < 10) {
            alert('Bank account number and deposit account number must be 10 digits');
            return false;
        }

        if (isNaN(amount) || amount < 100) {
            alert('Amount must be a valid number greater than or equal to 100');
            return false;
        }

        if (password.length < 6) {
            alert('Password must be at least 6 characters');
            return false;
        }

        return true;
    }

    async function submitDepositForm(formData) {
        try {
            const response = await fetch('/userDashboard/deposit', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                let message = JSON.parse(await response.text()).error;
                throw new Error('Failed to deposit: ' + message);
            }
            const result = await response.json();
            return { status: response.status, result };
        } catch (error) {
            return { status: 500, error: error.message };
        }
    }

    function handleDeposit(btnid) {
        document.getElementById(btnid).addEventListener('click', async () => {
            const btn = btnid.split('-')[1];
            const id = btn === 'bankdepo' ? 'bank' : 'mobile';
            const formData = new FormData(document.getElementById(`${id}-modal-form`));

            try {
                const isValid = await validateDepositForm(formData);

                if (isValid) {
                    const response = await submitDepositForm(formData);

                    if (response.status === 201) {
                        alert('Deposit successful, Thank you for banking with us.');
                        document.getElementById('depositModal').style.display = 'none';
                        window.location.reload();
                    } else if (response.status === 500) {
                        alert('Failed to deposit: ' + response.error);
                    } else {
                        alert('Failed to deposit, please try again later');
                    }
                }
            } catch (error) {
                alert(error.message);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        handleDeposit('btn-bankdepo');
        handleDeposit('btn-mobiledepo');
    });
</script>