<div>
    <h4>Pay Bills</h4>
    <form id="paybillForm">
        <div class="form-group">
            <label for="paybill">Paybill Number</label>
            <input type="text" class="form-control" id="paybill" name="paybill" required>
        </div>
    </form>
    <hr>
    <div class="paybills-container">
        <div class="paybills">
            <h5>Choose a service</h5>
            <div class="paybill-service">
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/safaricom.png" alt="Safaricom">
                </div>
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/airtel.png" alt="Airtel">
                </div>
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/telkom.png" alt="Telkom">
                </div>
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/zuku.png" alt="Zuku">
                </div>
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/nairobi_water.png" alt="Nairobi Water">
                </div>
                <div class="paybill-service-item">
                    <img src="/media/images/paybill/kplc.png" alt="KPLC">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/paybill.js"></script>