<div>
    <div class="transfer-container">
        <div class="transfer-header">
            <div class="transfer-title">
                <h3>Transfer Money</h3>
                <p>
                    Transfer money to another account
                </p>
            </div>
            <div class="dashbtn">
                <a href="/userDashboard">Dashboard</a>
            </div>
        </div>
        <div class="transfer-body">
            <div class="transfer-form">
                <form id="transferForm" class="form">
                    <div class="modal-form-group">
                        <label class="label" for="transferFrom">Transfer From</label>
                        <input type="text" class="input" id="transferFrom" name="transferFrom" required>
                    </div>
                    <div class="modal-form-group">
                        <label class="label" for="transferTo">Transfer To</label>
                        <input type="text" class="input" id="transferTo" name="transferTo" required>
                    </div>
                    <div class="modal-form-group">
                        <label class="label" for="amount">Amount</label>
                        <input type="number" value="100" min="100" class="input" id="amount" name="amount" required>
                    </div>
                    <div class="modal-form-group">
                        <label class="label" for="password">password</label>
                        <input type="password" class="input" id="password" name="password" required>
                    </div>
                    <div class="modal-form-group">
                        <button type="submit" class="btn tranbtn" id="transbtn">Transfer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/transfer.js"></script>